* {
    margin: 0px;
    padding: 0px;
    background-color:red;

}

:root {
    --base-black: #2B2B2B;
    --base-green: #1DA077;
    --base-white: #FAFAFA;
}

#main {
    display: flex;
    flex-direction: column;
    height: 200vh;
    background-color: #D9EDE6;
    overflow: hidden;

}

#nav-menu {
    padding: 24px 112px;
    height: 80px;
   
    top: 0px;
}

/* ........................................................LOGO and NAV Menu................................... */
.nav-content {

    display: flex;
    justify-content: space-between;
}



.nav-content img:hover{
    cursor: pointer;
}

/* ............................................................Nav Menu............................................. */
.menu {
    display: flex;
    align-items: center;
    gap: 48px;

}

/*...........................................................nav texts...............................................*/
.menu>a {
    display: flex;
    align-items: center;
    gap: 32px;
    color: var(--base-black);
    line-height: 100%;
    text-decoration: none;
    font-weight: 500;
    text-align: center;
}


/*...........................................................BUTTON....................................................*/
.menu>button {
    background: linear-gradient(180deg, #1DAA7E 0%, #1A8463 100%);
    width: 194px;
    height: 47px;
    border-radius: 8px;
    color: var(--base-white);
}

.menu>button:hover{
    cursor: pointer;

}
