/* .....................................outer-frame..................................... */
.third-frame{
    padding-top: 120px;
    padding-bottom: 60px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.para p:first-child{
    font-family: Outfit;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;

}

.para p:nth-child(2){
  font-size: 2rem;
    font-weight: 700;
    line-height: 120%;
    font-family: sans-serif;
}

#para{
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.hariyo{
    color: var(--base-green);
  
}

.content-container{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

/* .....................................................grid-container........................................ */

.grid-container{
    width: 85vw;
    display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
}

.clarity{
    grid-row: 1/2;
    grid-column: 1/2;
    display: flex;
    background-color: #F45B5B;
    border-radius: 30px;
    position: relative;
    flex-grow: 1;
    padding: 58px 35px 58px 206px;
}

.boy{
    height: 338px;
    width: 257px;
    position: absolute;
    top: 10px;
    left: -48px;
    opacity: 0.3;

 
}

/* ............................................boy-box.................................................... */

.boy-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}